numpy
#pygam
scikit-learn
pyodbc
requests
ipykernel
ipython-sql
jupyterlab
#seaborn
scipy
pandas
#matplotlib
pyarrow
sqlalchemy
#plotly==5.5.0
#jupyter-dash
#dash-bootstrap-components
#plotly_express
pyspark
findspark
jupyter-server-proxy
#xgboost
shap
fitter
pymssql
ipywidgets
dowhy
pika
nltk
pymssql
fpdf2
#kaleido==0.2.1
#tensorflow
#tabulate
#lime
#alibi
#artemis
#snapml
./DigiPythonTools
#neuralsens
#kneed
scikit-learn-intelex